/ServletDemo/nbproject/private/
/ServletDemo/build/
/SendMail/nbproject/private/
/SendMail/build/
/SendMai/nbproject/private/
/SendMai/build/
/EmailSender/nbproject/private/
/SendMails/nbproject/private/
/EmailSender/build/