/ServletDemo/nbproject/private/
/ServletDemo/build/
/SendMail/nbproject/private/
/SendMail/build/
/SendMai/nbproject/private/
/SendMai/build/
/EmailSender/nbproject/private/
/SendMails/nbproject/private/
/EmailSender/build/
/CalculatorApp/nbproject/private/
/CalculatorApp/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/Practical/nbproject/private/
/Practical/build/
/Unit 1/build/